@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.block {
    transform-style: preserve-3d;
    height: var(--block-height);
    width: var(--block-width);
    animation: spin 10s infinite linear;

    .side {
        &:nth-child(3n + 1) {
            height: var(--block-width);
            width: var(--block-height);
        }

        &:nth-child(3n + 2) {
            height: var(--block-depth);
            width: var(--block-width);
            top: calc((var(--block-height) - var(--block-depth)) / 2);
        }

        &:nth-child(3n) {
            height: var(--block-height);
            width: var(--block-depth);
            left: calc((var(--block-width) - var(--block-depth)) / 2);
        }

        &:nth-child(1) {
            transform: rotateY(0deg) translateZ(calc(var(--block-depth) / 2));
        }

        &:nth-child(2) {
            transform: rotateX(90deg) translateZ(calc(var(--block-height) / 2));
        }

        &:nth-child(3) {
            transform: rotateY(-90deg) translateZ(calc(var(--block-width) / 2));
        }

        &:nth-child(4) {
            transform: rotateY(180deg) translateZ(calc(var(--block-depth) / 2));
        }

        &:nth-child(5) {
            transform: rotateX(-90deg) translateZ(calc(var(--block-height) / 2));
        }

        &:nth-child(6) {
            transform: rotateY(90deg) translateZ(calc(var(--block-width) / 2));
        }
    }
}
